.header,
.footer {
  background-color: #343a40;
}

.navbar-brand_text-white,
.footer__text {
  color: rgb(213 214 215);
}

.header__link {
  color: #7b7f83;
}

.header__link .active {
  color: #7b7f83;
}

.header__link:focus,
.header__link:hover {
  color: rgb(213 214 215);
}

.navbar-toggler-icon {
  background-image: url("../icons/menu.svg");
}

.custom-toggler {
  border: none;
}

.custom-toggler:focus {
  box-shadow: none;
}
